*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Container */
.container
{
    display: flex;
    height: 650px;
    width: 1050px;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
/* Login  */
form
{
    display: flex;
    flex-direction:column ;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
form h2
{
    font-size: 3rem;
    font-family: Cambria Math;
    margin: 40px;
    color: #09647a;
}
.box
{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
.box1
{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit
{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: #09647a;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}
#submit:hover
{
    cursor: pointer;
    background-color: #09647a;
    color: white;
}
form a
{
    text-decoration: none;
    color: #09647a;
    margin-top: 20px;  
}
form a:hover
{
    color: black;
    border-bottom: 2px solid #09647a;
}

/* Right side */
.side
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.side img{
    width: 450px;
    height: 450px;
}
.login{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 500px;
    left: 470px;
    background-image:url(lb1.png);
    border-radius: 50%;
    background-size: 40PX;
    color: rgba(240, 248, 255, 0);
    transition: .4s ease-in-out;
    background-repeat: no-repeat;
    animation-name: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
   
}
.login:hover{
    width: 200px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-image:url(lb2.png);
    background-color:#09647a;   
    background-position: 299px;
    color: white;
    text-decoration: none;
    left: 400px;
    padding-top: 10px;
    padding-left: 65px;
    font-family: Cambria Math;
    font-weight: bold;
}