*
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.page1
{
    position: absolute;
    top: 7%;
    left: 12.5%;
    border-radius: 100px;  
    border: 1px white solid;
}
.page2
{
    position: absolute;
    top: 115%;
    left: 12.5%;
    border-radius: 100px;
    border: 1px white solid;
    z-index: -15;
}
.page3
{
    position: absolute;
    top: 225%;
    left: 12.5%;
    border-radius: 100px;
    border: 1px white solid;
}
.page4
{
    position: absolute;
    top: 335%;
    left: 12.5%;
    border-radius: 100px;
    border: 1px white solid;
}
img
{
    border-radius: 100px;
}
.headbar
{
    background-color: #87CEFA;
    position: absolute;
    top: 129%;
    left: 12.5;
    width: 430px;
    color:black;
    font-size:70px;
    animation-name: txt;
    animation-delay: 0s;  
    animation-duration: 3.5s;
    animation-fill-mode: forwards;  
    z-index:-10; 
}
@keyframes txt{
    from{left: 0.5%;}     
    to{left:12.5%;}  
}
.header2
{
    background-color: #87CEFA;
    position: absolute;
    top: 230%;
    left: 12.5;
    width: 430px;
    color:black;
    font-size:70px;
    animation-name: txt2;
    animation-delay: 0s;  
    animation-duration: 3.5s;
    animation-fill-mode: forwards;  
    z-index:-10;
}
@keyframes txt2{
    from{left: 0.5%;}     
    to{left:12.5%;}  
}
.title1
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:130px;
    color: white;
    position: absolute;
    top: 15%;
    left: 18%;
}
.tt1{
    position: absolute;
    top: 13%;
    left:18%;
    font-size: xx-large;
    color: white;
}
.tt2{
    position: absolute;
    top: 33.5%;
    left:18%;
    color: white;
    font-size:xx-large;
}
.title2
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:350px;
    color: white;
    position: absolute;
    top: 130%;
    left: 18%;
}
.title3
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:350px;
    color: white;
    position: absolute;
    top: 230%;
    left: 18%;
}
.title4
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:350px;
    color: white;
    position: absolute;
    top: 345%;
    left: 18%;
}
nav
{
	padding-bottom: 5px;
    font-family: Arial; 
    background: fixed;	
    position:fixed;
    top: 3%;
}
nav a{
	padding: 10px;
    color: white;
    text-decoration: none;  
    font-size: 17px;
    font-family: Arial;
    display: block;
}
nav a:hover
{
    background-color:#87CEFA;
    width: 70px;
}
.button1
{	
    background: transparent;
    border: 1.5px black solid;
    border-radius: 50px;
    position: absolute;
    top: 3%;
    right:2%;
    color: white;
    width: 150px;
}
button:hover
{
    background-color:#87CEFA;
    border: 1px black solid;
    
}
.i1{
    animation-name: txt1;
    animation-delay: 0s;  
    animation-duration: 3.5s;
    animation-fill-mode: forwards; 
    color:black;
}
@keyframes txt1{
    from{left: 0%;}     
    to{left:10%;}  
}
.i2{
    animation-name: txt2;
    animation-delay: 0s;  
    animation-duration: 3.5s;
    animation-fill-mode: forwards;  
    color:black;
}
@keyframes txt2{
    from{left: 0%;}     
    to{left:10%;}  
}
.i3{
    animation-name: txt3;
    animation-delay: 0s;  
    animation-duration: 3.5s;
    animation-fill-mode: forwards; 
    color:black;
}
@keyframes txt3{
    from{left: 0%;}     
    to{left:10%;}  
}
.i4{
    animation-name: txt4;
    animation-delay: 0s;  
    animation-duration: 3.5s;
    animation-fill-mode: forwards; 
    color:black;
}
@keyframes txt4{
    from{left: 0%;}     
    to{left:10%;}  
}
.i5{
    animation-name: txt5;
    animation-delay: 0s;  
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    color:black;
}
@keyframes txt5{
    from{left: 0%;}     
    to{left:10%;}  
}
body{

    z-index: 0;
    background-color: white;
}
.bb
{
    background-color: #87CEFA;
    width:150px;
    font-size:x-large;
    border-radius: 35px;

}
.bottomtable
{
    position: absolute;
    top: 425%;
    right: 5%;
    padding-bottom: 2.5%;
}