body{
    margin: 0px;
}

.logo
{
    height: 250px;
    width: 250px;
    float: left;
 
    margin: -95px 0px 0px 0px;
    /* mix-blend-mode: color-burn; */
}

.back{
    background-color: whitesmoke;
    padding: 40px 10px 40px 10px;
}

a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    font-family: Cambria Math;
    color: black;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}
a:hover{
    background: #09647a;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    color: white;
}

.lbtn
{
    float: right;
    margin-top: -72px; 
    margin-right: 22px;
    padding: 10px 30px 10px 30px;
    border-radius: 5px; 
    background-color: #09647a;
	color: whitesmoke;  
}
.lbtn:hover
{
	background-color: whitesmoke;
	color: #09647a;
    padding: 10px 30px 10px 30px;
	border: 1px solid;
	transition: 0.5s;
}